<body>
    <h1>Seja Bem-Vindo ao Caribe!!</h1>

    <h2>Escolha um prato:</h2>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Disponível</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Virado à Paulista</td>
                <td>Arroz, feijão engrossado com farinha, bisteca, ovo frito, couve e banana à milanesa.</td>
                <td>R$ 45,00</td>
                <td>Sim</td>
            </tr>
        </tbody>
    </table>
</body>